streamlit>=1.31
langchain>=0.0.217
openai>=1.2
duckduckgo-search
anthropic>=0.3.0
trubrics>=1.4.3
streamlit-feedback
pymysql
bcrypt
langchain
langchain_community
boto3
pandas
streamlit_feedback
streamlit-aggrid
tiktoken
matplotlib
python-docx
chromadb
langchain_openai